@font-face{
    font-family: titleFont;
    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700&family=Bebas+Neue&family=Josefin+Sans:wght@700&display=swap');
}

body {
    background-color: #fff9f9 !important;
}
/* ========== Header Area ========== */
#header nav div .navbar-brand{
    font-family: titleFont;
    font-weight: 700;
    font-size: 40px;
    color: #6725ff;
}
#header nav p:first-child{
    color: #6725ff;
}
#header nav p{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
/* ========== Category Section ========== */
#category p {
    font-size: 17px;
    font-weight: 500;
    color: #0000008f;
    cursor: pointer;
}
/* ========== News Counting Section ========== */
#news-counting{
    box-shadow: 0px 1px 14px 4px #00000008;
}
#news-counting p{
    font-size: 18px;
    font-weight: 600;
}
/* ========== News Card Section ========== */
#cardsContainer .card{
    box-shadow: 0px 3px 15px 5px #00000014;
}
#cardsContainer .card-title{
    font-weight: 700;
    font-size: 22px;
}
#cardsContainer .card-text{
    font-size: 16px;
    color: #898989;
}
#cardsContainer .author-image{
    width: 40px;
    border-radius: 100%;
}
#cardsContainer .author p, .views p{
    font-size: 16px;
    font-weight: 600;
}
#cardsContainer .details button{
    background-color: #6725ff;
}
/* ========== Modal Section ========== */
#modal .modal-footer button{
    background-color: #6725ff;
    color: white;
}

/* ==================== Mobile Responsive CSS ==================== */
@media only screen and (max-width: 576px) {
    #header, #main{
        width: 98% !important;
    }
    #header nav div .navbar-brand{
        font-size: 30px;
    }
}